<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="container max-w-6xl mx-auto p-5">
      <div class="flex justify-between items-center mt-6 mb-6">
        <h1 class="text-4xl mb-5 text-center text-gray-800">Dashboard</h1>
        <button id="download_pdf" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download PDF
        </button>
      </div>
      <div class="flex flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-1/5 lg:mr-5 mb-4">
          <div class="bg-white rounded-lg shadow p-5">
            <h2 class="text-2xl mb-4 text-gray-700">Latest CVEs</h2>
            <ul id="latest_cves_list" class="list-disc list-inside truncate"></ul>
          </div>
        </div>
        <div class="w-full lg:w-4/5 mb-4">
          <div class="bg-white rounded-lg shadow p-5">
            <h2 class="text-2xl mb-4 text-gray-700">Top IPs</h2>
            <!-- Slider para seleccionar el número de elementos a mostrar -->
            <div class="my-4">
              <label for="num_ips" class="block text-gray-700 text-sm font-bold mb-2">Número de IPs a mostrar: <span id="num_ips_val">5</span>
              </label>
              <input type="range" id="num_ips" name="num_ips" min="1" max="10" value="5" class="slider bg-gray-300 appearance-none h-3 rounded-full w-full overflow-hidden cursor-pointer">
            </div>
            <canvas id="top_ips_chart"></canvas>
          </div>
        </div>
      </div>
      <div class="w-full mt-4 mb-4">
          <div class="bg-white rounded-lg shadow p-5">
            <h2 class="text-2xl mb-4 text-gray-700">Top Dispositivos</h2>
            <!-- Slider para seleccionar el número de elementos a mostrar -->
            <div class="my-4">
              <label for="num_devices" class="block text-gray-700 text-sm font-bold mb-2">Número de dispositivos a mostrar: <span id="num_devices_val">5</span>
              </label>
              <input type="range" id="num_devices" name="num_devices" min="1" max="10" value="5" class="slider bg-gray-300 appearance-none h-3 rounded-full w-full overflow-hidden cursor-pointer">
            </div>
            <canvas id="top_devices_chart"></canvas>
          </div>
        </div>
    </div>
    <script>
      var ipsChart;
      var devicesChart;

      function updateTopIps(n_ips) {
        axios.get('/top_ips', {
          params: {
            n_ips: n_ips
          }
        }).then(function(response) {
          ipsChart.data.labels = response.data.top_ips.map(function(ip) {
            return ip.origen;
          });
          ipsChart.data.datasets[0].data = response.data.top_ips.map(function(ip) {
            return ip.count;
          });
          ipsChart.update();
        }).catch(function(error) {
          console.log(error);
        });
      }

      function updateTopDevices(n_devices) {
        axios.get('/top_devices', {
          params: {
            n_devices: n_devices
          }
        }).then(function(response) {
          devicesChart.data.labels = response.data.top_devices.ip;
          devicesChart.data.datasets[0].data = response.data.top_devices.suma_vuln;
          devicesChart.update();
        }).catch(function(error) {
          console.log(error);
        });
      }

      function updateLatestCVEs() {
        axios.get('/latest_cves').then(function(response) {
          var cveList = response.data.cves.map(function(cve) {
            var cveLink = 'https://cve.mitre.org/cgi-bin/cvename.cgi?name=' + cve.id;
            return ' <li> <a target = "_blank" href = "' + cveLink + '" > ' + cve.id + ' </a> </li>';
          });
          document.getElementById('latest_cves_list').innerHTML = cveList.join('');
        }).catch(function(error) {
          console.log(error);
        });
      }
      var ipsSlider = document.getElementById('num_ips');
      var ipsOutput = document.getElementById('num_ips_val');

      var devicesSlider = document.getElementById('num_devices');
      var devicesOutput = document.getElementById('num_devices_val');

      ipsSlider.addEventListener('input', function(e) {
        ipsOutput.textContent = e.target.value;
        updateTopIps(e.target.value);
      });

      devicesSlider.addEventListener('input', function(e) {
        devicesOutput.textContent = e.target.value;
        updateTopDevices(e.target.value);
      });

      setInterval(function() {
        var n_ips = ipsSlider.value;
        var n_devices = devicesSlider.value;
        updateTopIps(n_ips);
        updateTopDevices(n_devices);
        updateLatestCVEs();
      }, 30000); //5 mins

      axios.get('/top_devices').then(function(response) {
        var devicesCtx = document.getElementById('top_devices_chart').getContext('2d');
        devicesChart = new Chart(devicesCtx, {
          type: 'bar',
          data: {
            labels: response.data.top_devices.ip,
            datasets: [{
              label: 'Top Devices',
              data: response.data.top_devices.suma_vuln,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }).catch(function(error) {
        console.log(error);
      });

      axios.get('/top_ips').then(function(response) {
        var ipsCtx = document.getElementById('top_ips_chart').getContext('2d');
        ipsChart = new Chart(ipsCtx, {
          type: 'bar',
          data: {
            labels: response.data.top_ips.map(function(ip) {
              return ip.origen;
            }),
            datasets: [{
              label: 'Top IPs',
              data: response.data.top_ips.map(function(ip) {
                return ip.count;
              }),
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }).catch(function(error) {
        console.log(error);
      });

      document.getElementById('download_pdf').addEventListener('click', function() {
          axios.get('/latest_cves').then(function(cveResponse) {
            axios({
              method: 'post',
              url: '/download_pdf',
              data: {
                top_ips: ipsChart.data,
                top_devices: devicesChart.data,
                cves: cveResponse.data.cves
              },
              responseType: 'blob'
            }).then(function(response) {
              var url = window.URL.createObjectURL(new Blob([response.data]));
              window.open(url, '_blank');
            }).catch(function(error) {
              console.log(error);
            });
          }).catch(function(error) {
            console.log(error);
          });
      });


      updateLatestCVEs()
    </script>
  </body>
</html>