<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <div class="container max-w-8xl mx-auto p-5">
      <div class="flex justify-between items-center mt-6 mb-6">
        <h1 class="text-4xl mb-5 text-center text-gray-800">Dashboard</h1>
        <button id="download_pdf" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download PDF
        </button>
      </div>
      <div class="flex flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-2/5 lg:mr-5 mb-4">
          <div class="bg-white rounded-lg shadow p-5 mb-4">
            <h2 class="text-2xl mb-4 text-gray-700">Últimos CVEs</h2>
            <ul id="latest_cves_list" class="list-disc list-inside truncate"></ul>
          </div>
        <div class="bg-white rounded-lg shadow p-5">
          <h2 class="text-2xl mb-4 text-gray-700">Arbol de decisión</h2>
          <img class="object-fill cursor-pointer" src="/decision_tree" id="img_decision" onclick="enlargeImage('main')">
        </div>
        </div>
        <div class="w-full lg:w-3/5 mb-4">
          <div class="bg-white rounded-lg shadow p-5 mb-6">
            <h2 class="text-2xl mb-4 text-gray-700">Top IPs</h2>
            <div class="my-4">
              <label for="num_ips" class="block text-gray-700 text-sm font-bold mb-2">Número de IPs a mostrar: <span id="num_ips_val">5</span>
              </label>
              <input type="range" id="num_ips" name="num_ips" min="1" max="10" value="5" class="slider bg-gray-300 appearance-none h-3 rounded-full w-full overflow-hidden cursor-pointer">
            </div>
            <canvas id="top_ips_chart"></canvas>
          </div>
          <div class="bg-white rounded-lg shadow p-5">
              <h2 class="text-2xl mb-4 text-gray-700">Regresión Lineal</h2>
              <canvas id="linear_regression_chart"></canvas>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap lg:flex-nowrap">
        <div class="w-full lg:mr-5 mb-4">
          <div class="bg-white rounded-lg shadow p-5">
            <h2 class="text-2xl mb-4 text-gray-700">Top Dispositivos</h2>
            <div class="my-4">
              <label for="num_devices" class="block text-gray-700 text-sm font-bold mb-2">Número de dispositivos a mostrar: <span id="num_devices_val">5</span>
              </label>
              <input type="range" id="num_devices" name="num_devices" min="1" max="10" value="5" class="slider bg-gray-300 appearance-none h-3 rounded-full w-full overflow-hidden cursor-pointer">
            </div>
            <canvas id="top_devices_chart"></canvas>
          </div>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow p-5">
        <h2 class="text-2xl mb-4 text-gray-700">Árboles de decisión "Random Forest"</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          {% for tree_index in range(12) %}
            <div class="bg-white rounded-lg shadow p-5">
            <img src="/decision_tree/{{ tree_index }}" id="img_decision_{{ tree_index }}" class="cursor-pointer" onclick="enlargeImage('{{ tree_index }}')">
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="imageModal" class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-black bg-opacity-75 hidden">
        <div id="modalContent" class="bg-white rounded-lg shadow p-5">
          <img id="enlargedImage" src="" alt="" class="max-w-full max-h-full">
        </div>
      </div>
    </div>

    <style type="text/css">
      #imageModal {
        z-index: 9999;
      }

      #modalContent {
        max-width: 90vw;
        max-height: 90vh;
      }

      #enlargedImage {
        display: block;
        margin: 0 auto;
      }

    </style>

    <script>

      function enlargeImage(treeIndex) {
        const modal = document.getElementById('imageModal');
        const modalContent = document.getElementById('modalContent');
        const enlargedImage = document.getElementById('enlargedImage');

        if (treeIndex === 'main') {
          enlargedImage.src = '/decision_tree';
        } else {
          enlargedImage.src = '/decision_tree/' + treeIndex;
        }

        modal.classList.remove('hidden');

        modal.addEventListener('click', function(event) {
          if (event.target === modal) {
            modal.classList.add('hidden');
          }
        });
      }

      var ipsChart;
      var devicesChart;
      var linearRegChart;

      function updateTopIps(n_ips) {
        axios.get('/top_ips', {
          params: {
            n_ips: n_ips
          }
        }).then(function(response) {
          ipsChart.data.labels = response.data.top_ips.map(function(ip) {
            return ip.origen;
          });
          ipsChart.data.datasets[0].data = response.data.top_ips.map(function(ip) {
            return ip.count;
          });
          ipsChart.update();
        }).catch(function(error) {
          console.log(error);
        });
      }

      function updateTopDevices(n_devices) {
        axios.get('/top_devices', {
          params: {
            n_devices: n_devices
          }
        }).then(function(response) {
          devicesChart.data.labels = response.data.top_devices.ip;
          devicesChart.data.datasets[0].data = response.data.top_devices.suma_vuln;
          devicesChart.update();
        }).catch(function(error) {
          console.log(error);
        });
      }

      function updateLatestCVEs() {
        axios.get('/latest_cves').then(function(response) {
          var cveList = response.data.cves.map(function(cve) {
            var cveLink = 'https://cve.mitre.org/cgi-bin/cvename.cgi?name=' + cve.id;
            return ' <li> <a target = "_blank" href = "' + cveLink + '" > ' + cve.id + ' </a> </li>';
          });
          document.getElementById('latest_cves_list').innerHTML = cveList.join('');
        }).catch(function(error) {
          console.log(error);
        });
      }

      function updateLinearRegression() {
          axios.get('/linear_regression').then(function(response) {
              linearRegChart.data.datasets[0].data = response.data.x.map(function(value, index) {
                  return {x: value, y: response.data.y[index]};
              });
              linearRegChart.data.datasets[1].data = response.data.x.map(function(value, index) {
                  return {x: value, y: response.data.y_pred[index]};
              });

              linearRegChart.update();
          }).catch(function(error) {
              console.log(error);
          });
      }

      var ipsSlider = document.getElementById('num_ips');
      var ipsOutput = document.getElementById('num_ips_val');

      var devicesSlider = document.getElementById('num_devices');
      var devicesOutput = document.getElementById('num_devices_val');

      ipsSlider.addEventListener('input', function(e) {
        ipsOutput.textContent = e.target.value;
        updateTopIps(e.target.value);
      });

      devicesSlider.addEventListener('input', function(e) {
        devicesOutput.textContent = e.target.value;
        updateTopDevices(e.target.value);
      });

      setInterval(function() {
        var n_ips = ipsSlider.value;
        var n_devices = devicesSlider.value;
        updateTopIps(n_ips);
        updateTopDevices(n_devices);
        updateLinearRegression();
        updateLatestCVEs();
      }, 30000); //Actualizamos gráficos cada 5 mins

      axios.get('/top_devices').then(function(response) {
        var devicesCtx = document.getElementById('top_devices_chart').getContext('2d');
        devicesChart = new Chart(devicesCtx, {
          type: 'bar',
          data: {
            labels: response.data.top_devices.ip,
            datasets: [{
              label: 'Total vulns',
              data: response.data.top_devices.suma_vuln,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }).catch(function(error) {
        console.log(error);
      });

      axios.get('/top_ips').then(function(response) {
        var ipsCtx = document.getElementById('top_ips_chart').getContext('2d');
        ipsChart = new Chart(ipsCtx, {
          type: 'bar',
          data: {
            labels: response.data.top_ips.map(function(ip) {
              return ip.origen;
            }),
            datasets: [{
              label: 'Hits',
              data: response.data.top_ips.map(function(ip) {
                return ip.count;
              }),
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }).catch(function(error) {
        console.log(error);
      });

      axios.get('/linear_regression').then(function(response) {
          var linearRegCtx = document.getElementById('linear_regression_chart').getContext('2d');
            linearRegChart = new Chart(linearRegCtx, {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'Datos reales',
                        data: response.data.x.map(function(value, index) {
                            return {x: value, y: response.data.y[index]};
                        }),
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        showLine: false
                    },
                    {
                        label: 'Regresión',
                        data: response.data.x.map(function(value, index) {
                            return {x: value, y: response.data.y_pred[index]};
                        }),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        showLine: true
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }).catch(function(error) {
            console.log(error);
      });

      document.getElementById('download_pdf').addEventListener('click', function() {
        axios.get('/latest_cves').then(function(cveResponse) {
            axios({
                method: 'post',
                url: '/download_pdf',
                data: {
                    top_ips: ipsChart.data,
                    top_devices: devicesChart.data,
                    cves: cveResponse.data.cves
                },
                responseType: 'blob'
            }).then(function(response) {
                var url = window.URL.createObjectURL(new Blob([response.data]));
                var link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'report.pdf');
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }).catch(function(error) {
                console.log(error);
            });
        }).catch(function(error) {
            console.log(error);
        });
    });
      updateLatestCVEs()
    </script>
  </body>
</html>